.header-template{
    background-color: var(--white);
    width: 100%;
    padding: 4rem 15%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
    align-items: center;
}


@media only screen and (min-width: 770px){
    .header-template{
        width: 100%;
    }
}

@media only screen and (min-width: 1024px){
    .header-template{
        width: 100%;
    }
}

@media only screen and (min-width: 1280px){
    .header-template{
        padding: 4rem 20%;
    }
}