.header-template{
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
    align-items: center;
}
