.main-template{
    background-color: var(--baby-powder);
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
