.nav {
    top: 0;
    z-index: 3;
    background-color: var(--baby-powder);
    width: 100%;
    padding: 0.5rem 15%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 770px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }  
}

@media only screen and (min-width: 1080px) {
    .nav {
    }  
}