.card-project{
    width: 20rem;
    height: 12rem;
    background-color: var(--naples-yellow);
    margin: 10rem 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.10);
}


@media only screen and (min-width: 770px){

}