.card-banner{
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
    padding: 1.5rem 2.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.10);
}



@media only screen and (min-width: 770px){
    .card-banner{
        width: 70%;
        padding: 2rem 3rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1080px){
    .card-banner{
        width: 65%;
    }
}

@media only screen and (min-width: 1280px){
    .card-banner{
        max-width: 60rem;
    }
}