.card-banner{
    width: 100%;
    height: auto;
    padding: 3rem 3rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.10);
}


@media only screen and (min-width: 470px){
    .card-banner{
        width: 90%;
        padding: 3rem 4rem;
    }
}

@media only screen and (min-width: 760px){
    .card-banner{
        width: 70%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1024px){
    .card-banner{
        width: 60%;
    }
}