.div-buttons-main-header{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (min-width: 470px){
    .div-buttons-main-header{
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px){
    .div-buttons-main-header{
        justify-content: space-evenly;
        margin: 3rem 0 0 0;
    }
}