.div-main-header{
    background-image: url(../../assets/backgroun-header.png);
    background-position: center;
    width: 80%;
    padding: 2rem 15% 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0;
}


@media only screen and (min-width: 480px){
    .div-main-header{
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1080px){
    .div-main-header{
        padding: 5rem 15% 0;
    }
}

@media only screen and (min-width: 1080px){
    .div-main-header{
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 5rem 15% 2rem;
    }
}

@media only screen and (min-width: 1280px){
    .div-main-header{
        padding: 5rem 20% 3rem;
    }
}