.div-txt-card-project{
    background-color: var(--tiffany-blue);
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


/* estilos para la función de display-txt-project.js */
/*.show-txt{
    height: 100%;
}*/


