.div-img-project{
    width: 100%;
    height: 60%;
    border-radius: 0.7rem 0.7rem 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img-project--work{
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img-project--work2{
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* estilos para la función de display-txt-project.js */

.hide-img{
    height: auto;
}