.div-main-header{
    width: 80%;
    padding: 1.5rem 15% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}


@media only screen and (min-width: 480px){
    .div-main-header{
        justify-content: space-around;
    }
}

@media only screen and (min-width: 770px){
    .div-main-header{
        padding: 0rem 15% 0;
    }
}

@media only screen and (min-width: 1080px){
    .div-main-header{
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (min-width: 1280px){
    .div-main-header{
        padding: 4rem 20%;
    }
}