.div-buttons-main-header{
    margin: 4rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (min-width: 480px){
    .div-buttons-main-header{
        flex-direction: row;
    }
}

@media only screen and (min-width: 770px){
    .div-buttons-main-header{
        justify-content: space-evenly;
        margin: 6rem 0 3rem;
    }
}

@media only screen and (min-width: 1080px){
    .div-buttons-main-header{
        margin: 6rem 0 0 0;
    }
}