/*
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

 .card-contact{
    view-timeline-name: --body;
    view-timeline-axis: block;

    animation-timeline: --body;
    animation-name: show;

    animation-range: entry 1% cover 90%;
    animation-fill-move: both;
}



@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .animated {
    view-timeline-name: --body;
    view-timeline-axis: block;

    animation-timeline: --body;
    animation-name: fadeIn;

    animation-range: entry 1% cover 25%;
    animation-fill-move: both;
  }

  */