.btn-menu-nav {
    width: 1.3rem;
    padding: 1rem 0rem 1rem 1.5rem;
    display: flex;
    z-index: 2;
    position: fixed;
    right: 15%;
}


@media only screen and (min-width: 770px) {
    .btn-menu-nav {
        display: none;
    }  
}