:root{
    --primary-color: #FFC113;
    --secondary-color: #2EC4B6;
    --secondary-color-light: #CBF3F0;
    --complementary-color: #F6F5EE;
    --white: #FCFCF7;
    --black: #050510;
    
    --white: #FCFCF7;
    --baby-powder: #F6F5EE;
    --naples-yellow: #E8CD48;
    --gold: #E2B73C;
    --butterscotch: #CE8D44;
    --tiffany-blue: #BAE2D7;
    --cambridge-blue: #8BC0B2;
    --dark-cyan: #4C9389;
    --cafe-noir: #4D3A26;
    --smoky-black: #0C0906;
}