@font-face { 
    font-family: "avigea"; 
    src: url("../../assets/fonts/avigea/Avigea-6YGKo.otf")
} 

@font-face { 
    font-family: "kenyan-bold"; 
    src: url("../../assets/fonts/kenyan/kenyan-coffee-bd.otf") 
}

@font-face { 
    font-family: "kenyan-bold-italic"; 
    src: url("../../assets/fonts/kenyan/kenyan-coffee-bd-it.otf") 
}

@font-face { 
    font-family: "kenyan-regular"; 
    src: url("../../assets/fonts/kenyan/kenyan-coffee-rg.otf") 
}

@font-face { 
    font-family: "kenyan-regular-italic"; 
    src: url("../../assets/fonts/kenyan/kenyan-coffee-rg-it.otf") 
}

@font-face {
    font-family: "corbel-normal";
    src: url("../../assets/fonts/corbel/CORBEL.TTF");
}