.photo-profil{
    width: 12rem;
    margin: 1.5rem;
    z-index: 2;
}


@media only screen and (min-width: 480px){
    .photo-profil{
        width: 13rem;
    }
}

@media only screen and (min-width: 770px){
    .photo-profil{
        width: 13rem;
    }
}

@media only screen and (min-width: 980px){
    .photo-profil{
        width: 15rem;
    }
}

@media only screen and (min-width: 1080px){
    .photo-profil{
        width: 17rem;
    }
}