.photo-profil{
    width: 20rem;
    margin: 1.5rem 0;
}


@media only screen and (min-width: 480px){
    .photo-profil{
        width: 26rem;
    }
}

@media only screen and (min-width: 770px){
    .photo-profil{
        width: 28rem;
    }
}

@media only screen and (min-width: 1080px){
    .photo-profil{
        width: 32rem;
    }
}