.shape-5{
    width: 12rem;
    margin: 2rem;
}

.shape-6{
    width: 50rem;
    margin-top: -16rem;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


@media only screen and (min-width: 460px){
    .shape-6{
        width: 65rem;
        margin-top: -16rem;
    }
}

@media only screen and (min-width: 770px){
    .shape-6{
        width: 72rem;
        margin-top: -16rem;
    }
}

@media only screen and (min-width: 1024px){
    .shape-6{
        width: 100%;
        margin-top: -14rem;
    }
}