.span-card-contact{
    width: 100%;
    padding-bottom: 2rem;
}


@media only screen and (min-width: 470px){
    .span-card-contact{
        width: 100%;
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 760px){
    .span-card-contact{
        width: 60%;
        padding-bottom: 0rem;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 1024px){
    .span-card-contact{
        width: 60%;
        padding-bottom: 0rem;
    }
}