.title-main-header{
    font-family: var(--font-poppins);
    color: var(--black);
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: -1.6rem;
}

.title-main-header--white{
    color: var(--white);
    -webkit-text-stroke: 1.5px var(--black)
}

.title-main-header--right{
    margin-left: 85%;
    font-size: 4.5rem;
    color: var(--primary-color);
}




@media only screen and (min-width: 470px){
    .title-main-header{
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 1024px){
    .title-main-header{
        font-size: 3rem;
    }

    .title-main-header--right{
        font-size: 4.5rem;
    }
}



.button-txt{
    font-family: var(--font-poppins);
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}

.title-section{
    font-family: var(--font-poppins);
    color: var(--black);
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.title-card-project{
    font-family: var(--font-poppins);
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
    margin-bottom: 0.3rem;
}

.subtitle-section{
    font-family: var(--font-poppins);
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0.7rem 0;
}

.txt-card-contact{
    font-family: var(--font-poppins);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
}

.txt-description-card-project{
    font-family: var(--font-lustria);
    color: var(--black);
    letter-spacing: 0.07rem;
    line-height: 1.2rem;
}

.txt-about-me{
    font-family: var(--font-lustria);
    color: var(--black);
    letter-spacing: 0.07rem;
    line-height: 1.2rem;
}
