
.title-main-header{
    font-family: "avigea";
    color: var(--smoky-black);
    font-weight: 800;
    font-size: 1.7rem;
    line-height: 2rem;
}

.color-baby-powder{
    color: var(--baby-powder);
}

.color-smoky{
    color: var(--smoky-black);
}

.color-butterscotch{
    color: var(--butterscotch);
}

.color-cafe-noir{
    color: var(--cafe-noir);
}

.color-dark-cyan{
    color: var(--dark-cyan);
}

.color-tiffany-blue{
    color: var(--tiffany-blue);
}


@media only screen and (min-width: 480px){
    .title-main-header{
        font-size: 2rem;
        line-height: 2.2rem;
    }

}

@media only screen and (min-width: 770px){
    .title-main-header{
        font-size: 2rem;
        line-height: 2.2rem;
    }

}

@media only screen and (min-width: 1080px){
    .title-main-header{
        font-size: 2.6rem;
    }
}


.txt-menu-nav{
    font-family: "kenyan-regular-italic";
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}


.button-txt{
    font-family: var(--font-poppins);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}

.title-section{
    font-family: "avigea";
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1rem 0 1.6rem 0;
}

@media only screen and (min-width: 480px){
    .title-section{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 770px){
    .title-section{
        font-size: 1.9rem;
    }
}

@media only screen and (min-width: 1080px){
    .title-section{
        font-size: 2rem;
    }
}


@media only screen and (min-width: 770px){
    .title-card-services{
        font-size: 1.4rem;
    }
}


.title-img-services{
    font-family: "avigea";
    font-size: 1.4rem;
    transform: rotate(-90deg);
    position: absolute;
    margin-left: -16rem;
}

@media only screen and (min-width: 770px){
    .title-img-services{
        margin-left: -18rem;
    }
}

@media only screen and (min-width: 980px){
    .title-img-services{
        margin-left: -19.6rem;
    }
}



.subtitle-section{
    font-family: "avigea";
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.7rem 0;
}




.title-card{
    font-family: "kenyan-bold";
}

.title-card--s{
    font-size: 1.3rem;
    line-height: 1.1rem;
}

.title-card--m{
    font-size: 1.5rem;
}

.title-card--l{
    font-size: 1.7rem;
}



.txt-card{
    font-family: "corbel-normal";
    margin: 0.7rem 0;
    letter-spacing: 0.07rem;
}

.txt-card--s{
    font-size: 0.8rem;
    font-weight: 400;
}

.txt-card--m{
    font-size: 1rem;
    line-height: 1rem;
}

.txt-card--l{
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.txt-about-me{
    font-family: var(--font-lustria);
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    line-height: 1.2rem;
}

.link-project{
    font-family: "kenyan-regular";
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    line-height: 1.3rem;
    cursor: pointer;
}