.group-cards-services{
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}



@media only screen and (min-width: 1280px){
    .group-cards-services{

    }
}

@media only screen and (min-width: 1280px){
    .group-cards-services{
        max-width: 64rem;
    }
}